#black-bear {
    background-image: url('../../images/north-america/black-bear.jpg') !important;
    background-position: center;
}

#elk {
    background-image: url('../../images/north-america/elk.jpg') !important;
    background-position: center;
}

#bison {
    background-image: url('../../images/north-america/bison.jpg') !important;
    background-position: center;
}

#garden-friends-playground {
    background-image: url('../../images/north-america/garden-friends-playground.jpg') !important;
    background-position: center;
}

#streamside {
    background-image: url('../../images/north-america/streamside.jpg') !important;
    background-position: center;
}

#cypress-swamp {
    background-image: url('../../images/north-america/swamp.jpg') !important;
    background-position: center;
}

#marsh {
    background-image: url('../../images/north-america/marsh.jpg') !important;
    background-position: center;
}

#rocky-coast {
    background-image: url('../../images/north-america/rocky-coast.jpg') !important;
    background-position: center;
}