#types {
    background-image: url('../../images/honey-bee/types.jpg') !important;
    background-position: center;
}

#gift-shop {
    background-image: url('../../images/honey-bee/gift-shop.jpg') !important;
    background-position: center;
}

#habitats {
    background-image: url('../../images/honey-bee/habitats.jpg') !important;
    background-position: center;
}

#colony-collapse {
    background-image: url('../../images/honey-bee/colony-collapse.jpg') !important;
    background-position: center;
}

#nc-assoc {
    background-image: url('../../images/honey-bee/nc-assoc.jpg') !important;
    background-position: center;
}
